html,
h1,
h2,
h3,
h4,
h5,
h6,
.sidebar,
.pagination {
  font-family: "Roboto", serif;
}

.sidebar img {
  margin: 0;
}

.sidebar-social a {
  margin-right: 1rem;
}

.sidebar-social img {
  margin-right: 1rem;
}

.sidebar-social a:hover,
.sidebar-social a:focus {
  text-decoration: none;
}

.center-image {
  margin: 0 auto;
  display: block;
}

.post-category,
.post-tags {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}
